@charset "UTF-8";
/* ====кусочок коду для приховування непотрібного-технічного заголовку===
===hidden=== */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  margin: 0px;
}

h1,
h2,
h3 {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  font-family: roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

header .container {
  display: flex;
  align-items: baseline;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  header .container.leveling {
    align-items: center;
  }
}

.subscription.button {
  display: inline-flex;
  line-height: 1.875;
  text-align: center;
  padding: 10px 29px;
  color: #ffffff;
  background-color: #2196f3;
  align-items: center;
  letter-spacing: 0.06em;
  font-weight: bold;
}

.hero .button {
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 32px;
  line-height: 1.875;
  font-weight: bold;
}

.filter .button {
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  padding: 6px 22px;
  line-height: 1.625;
  font-weight: 500;
}

.button {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

header .link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .link:hover,
header .link :focus {
  color: #2196f3;
}

header .addres-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .addres-link:hover, header .addres-link:focus {
  color: #2196f3;
}

header .addres-link:hover .address-img,
header .addres-link:focus .address-img {
  fill: #2196f3;
}

header .address-img {
  margin-right: 10px;
}

header .address-img.mob {
  width: 10px;
  height: 15px;
  vertical-align: center;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .address-img.mail {
  width: 16px;
  height: 11px;
  vertical-align: baseline;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .current {
  color: #2196f3;
}

header .current::after {
  content: "";
  width: 20%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  display: block;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header_menu {
    position: absolute;
    width: 100%;
    height: min-content;
    left: 0px;
    top: 63px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
    padding: 60px 0px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 250ms linear;
  }
  .header_menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: unset;
  }
  .btn_smart_menu {
    position: relative;
    z-index: 1;
    display: inline-block;
    fill: #000000;
    padding: 0px;
    margin-left: auto;
    margin-right: 0px;
    border: none;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
  }
  .close-menu-icon {
    display: none;
  }
  .btn_smart_menu.is-open .open-menu-icon {
    display: none;
  }
  .btn_smart_menu.is-open .close-menu-icon {
    display: block;
  }
  .mobile_menu-icon:hover,
  .mobile_menu-icon:focus {
    fill: #2196f3;
  }
  .addres-link {
    font-size: 18px;
    line-height: 1.167;
    display: block;
  }
  .addres-link:not(:last-child) {
    margin-bottom: 16px;
  }
  .item:not(:last-child) {
    margin-bottom: 40px;
  }
  .header__list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .btn_smart_menu {
    display: none;
  }
  .header_menu {
    display: flex;
    width: 100%;
  }
  .header__address {
    margin-top: -9px;
  }
  header .item + .item {
    margin-left: 50px;
  }
  header p {
    margin: 25px 0px;
  }
  header .link {
    font-size: 14px;
    line-height: 1.43;
    display: block;
  }
  header .address-img {
    margin-right: 8px;
  }
  .address-img.mail {
    width: 16px;
    height: 12px;
  }
  .address-img.mob {
    width: 10px;
    height: 16px;
    overflow: visible;
    vertical-align: bottom;
  }
  .addres-link {
    font-size: 12px;
    line-height: 1.167;
    display: block;
    padding-bottom: 10px;
  }
  nav .current {
    color: #2196f3;
  }
  nav .current::after {
    content: "";
    width: 100%;
    margin-top: 28px;
  }
  .header__nav {
    display: flex;
    padding-right: 83px;
  }
  .header__list {
    display: flex;
  }
  main p {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .addres-link:not(:last-child) {
    margin-right: 50px;
  }
  .addres-link {
    font-size: 14px;
    line-height: 1.143;
  }
  .header__address {
    display: flex;
    margin: 0;
    margin-left: auto;
  }
}

.logo_Studio {
  color: #212121;
}

.page-footer .logo_Studio {
  color: #ffffff;
}

.logo {
  color: #2196f3;
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .logo p {
    display: inline-block;
    margin: 16px 0px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.192;
  }
}

.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__list {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

.page-footer .container {
  padding: 60px 0px;
}

.page-footer address a {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.page-footer .logo {
  display: inline-block;
  margin-right: 0px;
  padding-bottom: 20px;
}

.page-footer {
  background-color: #2f303a;
}

.page-footer address {
  color: #ffffff;
  font-family: Roboto;
  letter-spacing: 0.03em;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.footer_link:hover,
.footer_link:focus {
  color: #2196f3;
}

.join {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.subscription input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.icon_telegram {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.item_network:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .page-footer__box {
    display: block;
  }
  .address-box {
    text-align: center;
    margin-bottom: 60px;
  }
  .address-box .footer-address {
    margin-bottom: 8px;
  }
  .footer_link {
    display: block;
  }
  .footer-address + .footer_link {
    margin-bottom: 8px;
  }
  .network-box {
    text-align: center;
    margin-bottom: 60px;
  }
  .subscription {
    text-align: center;
  }
  .subscription button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-box {
    text-align: center;
    margin-bottom: 60px;
  }
  .address-box .footer-address {
    margin-bottom: 8px;
  }
  .footer_link {
    display: block;
  }
  .footer-address + .footer_link {
    margin-bottom: 8px;
  }
  .network-box {
    text-align: center;
    margin-bottom: 60px;
  }
  .subscription {
    text-align: center;
    width: 450px;
  }
  .subscription button {
    margin-top: 20px;
    width: 200px;
  }
  .page-footer__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__box {
    display: flex;
    align-items: baseline;
  }
  .address-box {
    margin-right: 70px;
    text-align: inherit;
  }
  .subscription {
    margin-left: auto;
  }
  .subscription input {
    margin-right: 12px;
    width: 358px;
  }
}

.our_projects a {
  display: block;
}

.our_projects__overlay {
  position: relative;
  overflow: hidden;
}

.our_projects__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0px;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our_projects__card {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.our_projects__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.our_projects__descript {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0px;
  margin-bottom: 0px;
}

.our_projects__list {
  display: flex;
  flex-wrap: wrap;
}

.our_projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our_projects__item:hover .our_projects__text {
  transform: translateY(0%);
}

@media screen and (max-width: 767px) {
  .our_projects__list {
    display: block;
  }
  .em {
    margin-bottom: 15px;
  }
  .our_projects__text {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our_projects__item {
    width: calc((100% - 30px) / 2);
  }
  .our_projects__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .our_projects__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .our_projects__list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .our_projects__item {
    width: calc((100% - 60px) / 3);
  }
  .our_projects__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .our_projects__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=portfolio.css.map */