/* :root {
  --logo-color: #2196f3;
  --descript-color: #757575;
  --addres-footer-color: rgba(255, 255, 255, 0.6);
  --font-color: #212121;
  --background-button: #f5f4fa;
  --dark-background-color: #ffffff;
  --fix: tomato;
} */
/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  font-family: roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
} */

/* .container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
 
} */

/* =====header===== */
/* .header__address {
  margin-left: auto;
}
header .item + .item {
  margin-left: 50px;
}

header p {
  margin: 25px 0px;
}
header .link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: $font-color;
  display: block;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
header .link:hover,
header .link:focus {
  color: $logo-color;
}

.logo {
  color: $logo-color;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  margin-right: 93px;
}
.logo_Studio {
  color: $font-color;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: $logo-color;

  display: block;
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
}

.addres-link:not(:last-child) {
  margin-right: 50px;
}

.address-img.mail {
  width: 16px;
  height: 12px;
  vertical-align: baseline;
  fill: $descript-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-img.mob {
  width: 10px;
  height: 16px;
  vertical-align: bottom;
  fill: $descript-color;
  overflow: visible;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-img {
  margin-right: 10px;
}
.addres-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $descript-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addres-link:hover .address-img,
.addres-link:focus .address-img {
  fill: $logo-color;
}
.addres-link:hover,
.addres-link:focus {
  color: $logo-color;
}

nav .current {
  color: $logo-color;
}

.leveling {
  display: flex;
  align-items: baseline;
}
.header__nav {
  display: flex;
  align-items: baseline;
}
.header__list {
  display: flex;
}
header {
  border-bottom: 1px solid #ececec;
}
main p {
  margin-bottom: 0px;
} */

/* =====section===== */
/* .section__joint {
  padding: 94px 0px;
} */

/* =====hero===== */
/* .hero {
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/baner.jpg");
}
.hero .title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $dark-background-color;

  margin-bottom: 30px;
}
.hero__bloс {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 696px;
  min-height: 600px;
  margin: auto;
  padding: 0px 15px;
} */

/* =====button===== */

/* .hero .button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  
  text-align: center;
  letter-spacing: 0.06em;
  color: $dark-background-color;
  background-color: $logo-color;
  padding: 10px 32px;
} */
/* =====filter===== */
/* .filter .button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: $font-color;
  background: $background-button;

  padding: 6px 22px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: $dark-background-color;
  background-color: $logo-color;
} */

/* /* .bbbutton  */

/* =====advantages===== */

/* .advantages {
  padding-top: 94px;
}
.advantages__list {
  display: flex;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}
.advantages__item {
  width: calc((100% - 90px) / 3);
}

.advantages__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $font-color;

  margin-top: 0px;
  margin-bottom: 10px;
}
.advantages__title::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
    background-repeat: no-repeat;
  background-position: center;
  background-color: $background-button;
  border-radius: 4px;
  background-size: auto;
  margin-bottom: 30px;
}
.antenna::before {
  background-image: url("../images/advantages/antenna.svg");
}
.astronaut::before {
  background-image: url("../images/advantages/astronaut.svg");
}
.clock::before {
  background-image: url("../images/advantages/Clock.svg");
}
.leptop::before {
  background-image: url("../images/advantages/leptop.svg");
}
.advantages__descript {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: $descript-color;
  margin: 0px;
} */

/* =====specialty===== */
/* 
.specialty__list {
  display: flex;
}
.specialty__item {
  width: calc((100% - 60px) / 3);
    position: relative;
}
.specialty__item + .specialty__item {
  margin-left: 30px;
} */

/* =====надання фоткам адаптації===== */
/* .specialty__item img {
  display: block;
  max-width: 100%;
  object-fit: cover;
} */
/* =====надання фоткам адаптації===== */
/* 
.specialyty__position-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-background-color;
  background-color: rgba(47, 48, 58, 0.8);

  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.specialty__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: $font-color;

  margin-bottom: 50px;
} */

/* =====team===== */
/* .team {
  background-color: $background-button;
}
.team__list {
  display: flex;
}
.team__item + .team__item {
  margin-left: 30px;
}
.team__item {
  width: calc((100% - 90px) / 3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $dark-background-color;
}
.section-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: $font-color;

  margin-bottom: 50px;
}
.team__card {
  padding-bottom: 30px;
  padding-top: 30px;
}
.team__subtitle {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: $font-color;

  margin-bottom: 10px;
}
.team__descript {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: $descript-color;

  margin-bottom: 16px;
  margin-top: 0px;
}
.list_network {
  display: flex;
  justify-content: center;
}
.item_network:not(:last-child) {
  margin-right: 10px;
}
.link_network {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $dark-background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link_network:hover .light_theme {
  fill: $dark-background-color;
}
.link_network:hover {
  background-color: $logo-color;
}
.link_them {
  background-color: rgba(255, 255, 255, 0.1);
}
.light_theme {
  fill: #afb1b8;
}
.dark_theme {
  fill: $dark-background-color;
}

.instagram-size {
  width: 20px;
  height: 20px;
}
.twitter-size {
  width: 20px;
  height: 20px;
}
.facebook-size {
  width: 20px;
  height: 20px;
}
.linkedin-size {
  width: 20px;
  height: 20px;
} */

/* =====customers===== */
/* .customers__list {
  display: flex;
}
.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  }

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
  fill: $logo-color;
}
.customers__link:hover {
  border-color: $logo-color;
}

.customers__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* =====Portfolio===== */
/* .our_projects a {
  display: block;
}
.our_projects {
}
.our_projects__overlay {
  position: relative;
  overflow: hidden;
}
.our_projects__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: $dark-background-color;

  margin: 0px;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our_projects__item:hover .our_projects__text {
  transform: translateY(0%);
}
.our_projects__card {
  padding: 20px 24px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.our_projects__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $font-color;

  margin-bottom: 4px;
}
.our_projects__descript {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: $descript-color;

  margin-top: 0px;
  margin-bottom: 0px;
} */

/* =====filter===== */
/* .filter {
}
.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
} */

/* =====our_projects__list===== */
/* .our_projects__list {
  display: flex;
  flex-wrap: wrap;
}
.our_projects__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.our_projects__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.our_projects__item {
  width: calc((100% - 60px) / 3);
}
.our_projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} */

/* =====footer===== */
/* .page-footer .container {
  padding: 60px 0px;
}
.page-footer__box {
  display: flex;
  align-items: baseline;
}
.address-box {
  margin-right: 70px;
}
.page-footer address a {
  color: rgba(255, 255, 255, 0.6);
}
.page-footer p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.page-footer .logo {
  display: inline-block;
  margin-right: 0px;
  padding-bottom: 20px;
}
.page-footer .logo_Studio {
  color: $dark-background-color;
}
.page-footer {
  background-color: #2f303a;
}
.page-footer address {
  color: $dark-background-color;
  font-family: Roboto;
  letter-spacing: 0.03em;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;

  display: flex;
  flex-direction: column;
  font-style: normal;
}
.footer_link:hover,
.footer_link:focus {
  color: $logo-color;
}

.join {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  padding-bottom: 20px;
}

.subscription {
  margin-left: auto;
} */

/* 
.subscription input {
  margin-right: 12px;
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 16px;
}

.icon_telegram {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $dark-background-color;
} */

/* ====кусочок коду для приховування непотрібного-технічного заголовку===
===hidden=== */
/* 
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
} */

/* ====модалка=== */
/* .backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  
  z-index: 9;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
}
.backdrop.is-hidden .modal {
  transform: translate(-100%) scale(0.5);
}
.scroll {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  overflow-y: auto;
  padding-top: 100px;
}

.modal {
  position: relative;
  max-width: 528px;
  min-height: 581px;
  width: 100%;
  margin: auto;
  
  transform: translateY(10%) scale(1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: $dark-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.btn_end {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: $dark-background-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 1s linear;
}
.btn_end:focus {
  fill: $logo-color;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
} */

/* ====форми модалки=== */
/* .modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 30px;
}
.modal_form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.modal__user_form {
  position: relative;
  margin-bottom: 28px;
}
.modal_form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form_imput:focus,
.user_mesage-form:focus {
  outline: none;
}
.form_imput:focus,
.user_mesage-form:focus {
  border: 1px solid $logo-color;
}
.form_imput:focus ~ .modal_form__icon {
  fill: $logo-color;
}

.form_imput {
    width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.modal-form_label {
  position: absolute;
  top: -15px;
  left: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.user_mesage-form {
  width: 100%;
  height: 100%;
  resize: none;
  width: 448px;
  height: 120px;

  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

.user_mesage_label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.check-form-policy:checked + .label_check-form {
  color: teal;
}

.label_check-form a {
  color: $logo-color;
}
.label_check-form {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.label_check-form::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  margin-right: 8px;
}

.check-form-policy:checked + .label_check-form::before {
  color: teal;
  background-color: $logo-color;
  background-image: url(../images/svg_sprite/form/icon_mark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.btn_form {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: $dark-background-color;
  background-color: $logo-color;
  padding: 10px 55px;
  width: 200px;
  margin: 0 auto;
} */
