.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 30px;
}
.modal_form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.modal__user_form {
  position: relative;
  margin-bottom: 28px;
}
.modal_form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
}
.form_imput {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  &:focus {
    outline: none;
    border: 1px solid $logo-color;
  }
}
.form_imput:focus ~ .modal_form__icon {
  fill: $logo-color;
}
.user_mesage-form {
  width: 100%;
  height: 100%;
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  &:focus {
    outline: none;
    border: 1px solid $logo-color;
  }
}

.modal-form_label {
  position: absolute;
  top: -20px;
  left: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.user_mesage_label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.label_check-form a {
  color: $logo-color;
}
.label_check-form {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #212121;
    margin-right: 8px;
  }
}
.check-form-policy:checked + .label_check-form::before {
  color: teal;
  background-color: $logo-color;
  background-image: url(../images/svg_sprite/form/icon_mark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.btn_form {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: $dark-background-color;
  background-color: $logo-color;
  padding: 10px 55px;
  width: 200px;
  margin: 0 auto;
}
